body{
    background: #f1f1f1;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
#tweets{
    list-style: none;
}
.container {
    background: #FFFFFF;
    min-height: 100px;
    width: 460px;
    margin: 10px 60px;
    text-align: left;
    box-shadow: #000000;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: .25rem;
}
.box {
    background: #000000;
    margin-top: 15px;
}
.username{
    color: #608CE2;
    font-size: 16px; 
}
